.burger__nav{
    display: none;
    position: relative;
    width: 100px;
    height: 59px;
    overflow: hidden;
    z-index: 1000;
    margin-right: 15px;
    &.active{
        width: 300px;
        height: 725px;
        position: fixed;
        top: 0;
        transition: width 1.5s, height 1.5s;
        transition-delay: 0s, .75s;
        .menu{
            display: flex;
            justify-content: flex-end;
            padding-top: 60px;
            nav {
                ul{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    transform: skewY(-15deg);
                    li a{
                        border: none;
                        text-transform: uppercase;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 55px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding-left: 15px;
                        transition: .5s;
                        &:hover{
                            color: rgb(255, 255, 255);
                        }
                    }
                    li{
                        position: relative;
                        background: linear-gradient(40deg, rgba(99,175,143,1) 14%, rgba(112,101,169,1) 34%, rgba(95,55,145,1) 53%, rgba(0,0,0,1) 82%);
                        padding: 20px 10px;
                        width: 200px;
                        z-index: var(--i);
                        transition: .5s;
                        height: 55px;
                        &::before{
                            content: url(../image/UMF-LogoLil.png);
                            position: absolute;
                            top: 0;
                            left: -44px;
                            width: 45px;
                            height: 100%;
                            background: rgba(99,175,143,1);
                            transform-origin: right;
                            transform: skewY(45deg);
                            transition: .5s;
                            padding: 10px 5px 2px 4px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: -44px;
                            left: 0;
                            width: 100%;
                            height: 45px;
                            background: linear-gradient(50deg, rgba(99,175,143,1) 14%, rgba(112,101,169,1) 24%, rgba(95,55,145,1) 37%, rgba(0,0,0,1) 64%);
                            transform-origin: bottom;
                            transform: skewX(45deg);
                            transition: .5s;
                        }
                        &:hover{
                            animation: transformMenu .5s linear both;
                        }
                    }
                }
            }
        }
        .menuToggle{
            right: -80%;
        }
    }
    .menuToggle{
        position: relative;
        right: -40%;
        width: 45px;
        height: 60px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            width: 32px;
            height: 2px;
            background: whitesmoke;
            transform: translateY(-10px);
            box-shadow: 0 10px whitesmoke;
            transition: 0.5s;
        }
        &::after{
            content: '';
            position: absolute;
            width: 32px;
            height: 2px;
            background: whitesmoke;
            transform: translateY(10px);
            transition: 0.5s;
        }
    }
    .menuToggle:hover::before{
        background: rgba(99,175,143,1);
        box-shadow: 0 10px rgba(112,101,169,1);
        width: 40px;
        height: 3px;
    }
    .menuToggle:hover::after{
        background: rgba(95,55,145,1);
        width: 40px;
        height: 3px;
    }
    &.active .menuToggle::before{
        transform: translate(0px) rotate(45deg);
        box-shadow: 0 0 whitesmoke;
        background: #63AF8F;
    }
    &.active .menuToggle::after{
        transform: translate(0px) rotate(-45deg);
        background: #63AF8F;
    }
}

nav ul li .sub__menu2{
    display: none;
}

nav ul .community:hover .sub__menu2{
    display: block;
    position: absolute;
    left: 25px;
    top: 78px;
    ul{
        display: flex;
        flex-direction: column;
        position: relative;
        transform: skewY(0deg);
        animation: transformSubMenu 1s linear both;
        li a{
            display: flex;
            gap: 5px;
            position: absolute;
            top: 0;
            height: 45px;
            width: 100%;
        }
        li{
            position: relative;
            padding: 10px 10px;
            width: 200px;
            height: 45px;
            &::before{
                content: '';
                position: absolute;
                top: 1px;
                left: -24px;
                width: 25px;
            }
            &::after{
                content: '';
                position: absolute;
                top: -24px;
                left: 0;
                height: 25px;
            }
            &:hover{
                animation: transformMenu .5s linear both;
            }
        }
    }
}

.active .menuToggle:hover::before, .active .menuToggle:hover::after{
    background: rgb(255, 0, 0); 
    transform: rotate(360deg);
}

@keyframes transformMenu {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50px);}
}

@keyframes transformSubMenu {
    0% {left: 125%;}
    100% {left: 0;}
}

